.btn-outline-primary {
  color: #728c11;
  background-color: transparent;
  background-image: none;
  border-color: #728c11;
}
.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #a9d019;
  border-color: #728c11;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(233, 84, 32, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(233, 84, 32, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #728c11;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #728c11;
  background-color: #a9d019;
  border-color: #a9d019;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(233, 84, 32, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(233, 84, 32, 0.5);
}
